apiVersion: v1
kind: Service
metadata:
  name: {{ self.risk-advisor__fullname() }}
  labels:
    chart: "{{ Chart.Name }}-{{ Chart.Version }}"
    app: "{{ self.risk-advisor__name() }}"
    release: "{{ Release.Name }}"
    heritage: "{{ Release.Service }}"
spec:
  type: {{ Values.service.type }}
  ports:
  - name: http
    protocol: TCP
    port: {{ Values.service.port }}
    targetPort: {{ Values.service.targetPort }}
    nodePort: {{ Values.service.nodePort }}
  selector:
    app: "{{ self.risk-advisor__name() }}"
    release: "{{ Release.Name }}"
#---apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ self.risk-advisor__fullname() }}
  labels:
    chart: "{{ Chart.Name }}-{{ Chart.Version }}"
    app: "{{ self.risk-advisor__name() }}"
    release: "{{ Release.Name }}"
    heritage: "{{ Release.Service }}"
spec:
  replicas: {{ Values.replicaCount }}
  template:
    metadata:
      labels:
        app: "{{ self.risk-advisor__name() }}"
        release: "{{ Release.Name }}"
    spec:
      containers:
      - name: {{ Chart.Name }}
        image: "{{ Values.image.repository }}:{{ Values.image.tag }}"
        imagePullPolicy: {{ Values.image.pullPolicy }}
        ports:
        - containerPort: {{ Values.service.targetPort }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ Values.service.targetPort }}
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ Values.service.targetPort }}
          initialDelaySeconds: 3
          periodSeconds: 3
        resources:
{{ toYaml(Values.resources) | indent(12) }}
